h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

.trial-left h2 {
  color: rgba(97, 8, 43, 1);
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

/* PARAGRAPH */
p {
  font-size: 1rem;
}

span {
  font-size: 0.9rem;
}

.mese {
  color: grey;
}

/* FOOTER */
.footer-card a,
.footer-card h3{
  color: white;
}

.footer-bottom-it,
.footer-bottom-it a,
.footer-bottom hr{
  color: grey;
}

.footer-bottom-it a,
.footer-card a{
  text-decoration: none;
}


/* ANCOR TAG */
.ahref-white a {
  text-decoration: none;
  color: black;
}
.ahref-blue a {
  color: blue;
}

/* ICONS */
.fa-arrow-down {
  font-size: 4rem;
  padding-bottom: 0.2em;
}

.fa-check {
  color: blue;
}

/* BUTTONS */

.blue-button {
  color: white;
  background-color: rgba(0, 97, 255, 1);
  text-decoration: none;
  padding: 0.5em 1em;
}

.white-button {
  color: black;
  background-color: white;
  border: var(--border-black);
  text-decoration: none;
  padding: 0.6em 1em;
}

.w-border {
  border: 1px solid white;
}

