/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

/* CONTAINER */

.container-header{

}

.container-banner-footer{

}

.container-main{

}

/* COMMON */
html {
  font-size: 62,5%;
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

/* HEADER */

/* BANNER */

/* MAIN */

/* FOOTER */

/* DEBUG */

.border{
  border: 1px solid black;
}
.wborder{
  border: 1px solid white
}