.header-left ul li:hover,
.header-right ul li:hover  {
    border-bottom: 2px solid black;   
}


.blue-button{
    transition: all 1s;
}

.blue-button:hover{
    background-color: rgb(70, 140, 253);
}

.white-button{
    transition: all 1s;
}

.white-button:hover{
    background-color: lightgrey;
}


.hidden{
    padding-bottom: 3em;
    display: none;
    transition: all 1s;
    /* display: unset; */
   

    /* visibility: hidden;
    max-height: 0; */

    /* opacity: 0; */
}

.faq-arrow:active .hidden{
    display: block;    
}