/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-size: 62, 5%;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

:root{
  --members-card: 500px;
}

/* FLEX */
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-gap {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

/* CONTAINER */

.container-header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.container-banner-footer {
  margin: 0 auto;
  width: 70%;
}

.container-main {
  margin: 0 auto;
  width: 60%;
}

/* BG-COLOR banner footer section*/

.banner-bgcolor {
  background-color: #b4d0e7;
}
.footer-bgcolor {
  background-color: black;
}
.section-trial {
  background-color: #b4d0e7;
}
.section-faq {
  background-color: white;
}

/* MARGIN */

.mt-3 {
  margin-top: 3em;
}

/* HEADER ----------------*/

.header-left,
.header-right {
  height: 80px;
  width: 30%;
  /* DEBUG */
  border: 1px solid black;
}

/* BANNER -----------------*/
.banner {
  margin-top: 80px;
}

.banner-title {
  text-align: left;
  padding-top: 2em;
}

.banner-left,
.banner-right {
  width: 50%;
  /* DEBUG */
  background-color: rgb(113, 169, 169);
  height: 300px;
}

/* MAIN ---------------------*/

main {
  margin-top: 4em;
}
/* 1. Subscrition */
.subscrition {
  /* DEBUG */
  background-color: lightblue;
}

.subscrition-title {
  padding: 2em 0;
}
.sub-card {
  margin: 1em 0 1em;
  width: calc(100% / 3);
  /* DEBUG */
  height: 600px;
}

.sub-one-row {
  /* DEBUG */
  height: 200px;
}

/* 2. Find Partner */
.find-partner {
  /* DEBUG */
  background-color: lightblue;
}

.find-col > .find-card:nth-child(1) {
  width: 60%;
}

.find-col > .find-card:nth-child(2) {
  width: 40%;
}

.find-card {
  /* DEBUG */
  height: 300px;
}

/* 3. Dropbox business */
.dropbox-business {
  /* DEBUG */
  background-color: lightblue;
}

.dropbox-business-title {
  /* DEBUG */
  padding: 1em 0;
}

.drop-business-col {
  flex-wrap: wrap;
}

.drop-business-card {
  margin-top: 2em;
  width: calc(100% / 3 - 1em);
  /* DEBUG */
  height: 300px;
  border: 1px solid black;
}

/* 4. More Than */
.more-than {
  padding: 2em 0 5em;
  /* DEBUG */
  background-color: lightblue;
}

/* 5. Members */

.members-card {
  width: calc(100% - (500px * 2));
  /* DEBUG */
  background-color: lightblue;
  height: 500px;
}

.members-card-cross {
  height: var(--members-card);
  width: var(--members-card);
  /* DEBUG */
  background-color: rgb(23, 105, 178);
}

.members-square{
  width: calc(var(--members-card) / 2);
  height: calc(var(--members-card) / 2);
  /* DEBUG */
  background-color: rgba(226, 43, 43, 0.521);
  border: 1px solid white;
}

/* 6. Trial */

.trial-left,
.trial-right {
  padding: 6em 0;
  /* DEBUG */
  border: 1px solid black;
}
.trial-left {
  width: 60%;
}
.trial-right {
  width: 40%;
}

/* 7. Faq */
.faq {
  /* DEBUG */
  background-color: lightblue;
}

.faq-title,.faq-item {
  padding: 1em 0 1em;
  border: 1px solid black;
}


/* FOOTER ---------------*/
.footer-card, .footer-bottom-it{
  background-color: white;
}

.footer-top {
  padding-top: 2em;
}

.footer-card {
  width: calc(100% / 5);
  /* DEBUG */
  min-height: 200px;
}

.footer-bottom {
  padding: 2em 0 4em;
  min-height: 50px;
  /* DEBUG */
  width: 100px;
}

/* DEBUG */

.border {
  border: 1px solid black;
}
.wborder {
  border: 1px solid white;
}


