/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-size: 62, 5%;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

:root{
  --members-card: 500px;
}

/* FLEX */
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-gap {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-right{
  display: flex;
  justify-content: flex-end;
}

/* CONTAINER */

.container-header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.container-banner-footer {
  margin: 0 auto;
  width: 70%;
}

.container-main {
  margin: 0 auto;
  width: 60%;
}

/* BG-COLOR banner footer section*/

.banner-bgcolor {
  background-color: #b4d0e7;
}
.footer-bgcolor {
  background-color: black;
}
.section-trial {
  background-color: #b4d0e7;
}
.section-faq {
  background-color: white;
}

/* MARGIN */

.mt-3 {
  margin-top: 3em;
}

.mb-2{
  margin-bottom: 2em;
}


/* HEADER ----------------*/

.header-left,
.header-right {
  height: 80px;
  line-height: 80px;
  margin: 0 .4em;
}

.header-left ul li img{
  width: 7em;
  vertical-align: middle;  
}

.header-left ul li a, 
.header-right ul li a {
  color: black; 
  text-decoration: none;
  vertical-align: middle;
}

.header-left ul li, 
.header-right ul li {
  list-style-type: none;  
  display: inline-block;
  padding: 0 .5em;
}

.header-right ul li .blue-button{
  color: white;
}

/* BANNER -----------------*/
.banner {
  margin-top: 80px;
}

.banner-title {
  text-align: left;
  padding-top: 2em;
  padding-right: 8em;
}

.banner-left {
  width: 35%;
}

.banner-right{
  width: 65%;
  /* position: relative; */
}

/* IMMAGINE BANNER OUTSIDE
.banner-right img{
  position: absolute;  
  z-index: 2;
  top: 0;
  left: 0;
}  */

/* MAIN ---------------------*/

main {
  margin-top: 4em;
}
/* 1. Subscrition */
.subscrition {
  /* DEBUG */
  background-color: lightblue;
}

.subscrition-title {
  padding: 2em 0;
}
.sub-card {
  margin: 1em 0 1em;
  width: calc(100% / 3);
  /* DEBUG */
  height: 600px;
}

.sub-one-row {
  /* DEBUG */
  height: 200px;
}

/* 2. Find Partner */
.find-partner {
  /* DEBUG */
  background-color: lightblue;
}

.find-col > .find-card:nth-child(1) {
  width: 60%;
}

.find-col > .find-card:nth-child(2) {
  width: 40%;
}

.find-card {
  /* DEBUG */
  height: 300px;
}

/* 3. Dropbox business */
.dropbox-business {
  /* DEBUG */
  background-color: lightblue;
}

.dropbox-business-title {
  /* DEBUG */
  padding: 1em 0;
}

.drop-business-col {
  flex-wrap: wrap;
}

.drop-business-card {
  margin-top: 2em;
  width: calc(100% / 3 - 1em);
  /* DEBUG */
  height: 300px;
  border: 1px solid black;
}

/* 4. More Than */
.more-than {
  padding: 2em 0 5em;
  /* DEBUG */
  background-color: lightblue;
}

/* 5. Members */

.members-card {
  width: calc(100% - (var(--members-card) * 2));
  height: var(--members-card);
  background-color: rgba(245, 245, 245, 1);
}

.members-card-cross {
  height: var(--members-card);
  width: var(--members-card);
}

.members-square{
  width: calc(var(--members-card) / 2);
  height: calc(var(--members-card) / 2);
}

/* background cross */
.cross-left .members-square:nth-of-type(1){
  background-color: rgba(162, 211, 155, 1);
  outline: 10px solid rgba(209, 233, 205, 1);
  outline-offset: -10px;
}
.cross-left .members-square:nth-of-type(2){
  background-color: rgba(97, 8, 43, 1);
}
.cross-left .members-square:nth-of-type(3){
  background-color: rgba(0, 147, 206, 1);
}
.cross-left .members-square:nth-of-type(4),
.cross-right .members-square:nth-of-type(1){
  background-color: rgba(255, 28, 28, 1);
}
.cross-right .members-square:nth-of-type(2){
  background-color: rgba(180, 208, 231, 1);
}
.cross-right .members-square:nth-of-type(3){
  background-color:rgba(13, 36, 129, 1);
}
.cross-right .members-square:nth-of-type(4){
  background-color: rgba(255, 216, 48, 1);
}


/* 6. Trial */

.trial-left,
.trial-right {
  padding: 6em 0;
  /* DEBUG */
  border: 1px solid black;
}
.trial-left {
  width: 60%;
}
.trial-right {
  width: 40%;
}

/* 7. Faq */
.faq {
  /* DEBUG */
  background-color: lightblue;
}

.faq-title,.faq-item {
  padding: 1em 0 1em;
  border: 1px solid black;
}


/* FOOTER ---------------*/
.footer-card, .footer-bottom-it{
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-top {
  padding-top: 2em;
}

.footer-card {
  width: calc(100% / 5);
  /* DEBUG */
  min-height: 200px;
}

.footer-bottom {
  padding: 2em 0 4em;
  min-height: 50px;
  /* DEBUG */
  width: 100px;
}

/* DEBUG */

.border {
  border: 1px solid black;
}
.wborder {
  border: 1px solid white;
}


